{% extends 'layout.html' %}
{% block main %}

<div class="row">
  <div class="col-sm-6 col-lg-8">
      <a class="btn btn-primary" href="/mp3">YouTube to Mp3</a>
  </div>
  <div class="col-6 col-lg-4"><a class="btn btn-primary" href="/mp4">YouTube to Mp4</a></div>
</div>
<div class="row">
  <div class="col-sm-6 col-lg-8"><a class="btn btn-primary" href="/tiktok">TikTok Video Downloader</a></div>
  <div class="col-6 col-lg-4"><a class="btn btn-primary" href="/twitch">Twitch Video Downloader</a></div>
</div>
<style>
    .row{
        margin:10rem;
    }
</style>
{% endblock %}