{% extends 'layout.html' %}
{% block main %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{source}} to {{tp}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/"><span class="sr-only">(current)</span>Home</a>
      <a class="nav-item nav-link" href="/mp3">YouTube to MP3</a>
      <a class="nav-item nav-link" href="#">How to Download?</a>
      <a class="nav-item nav-link" href="/mp4">YouTube to MP4</a>
    </div>
  </div>
</nav>
<br>
<div class="container justify-content-center align-items-center containsForm">
    <h1 class="title">{{source}} to {{tp}} Converter</h1>
    <p>Convert and download {{source}} videos to {{tp}} for free and unlimited times.</p>
    <form id="main-form" class="form-group" action="/download" method="POST" role="search">
        <input type="text" class="form-control" name="query" autocomplete="off" autocorrect="off" aria-label="Search" placeholder="Paste your {{source}} link here" value="" required>
        <input type="hidden" name="tp" value={{tp}}>
        <button type="submit" class="btn btn-primary">Convert</button>
    </form>

</div>
<br>
<br>
<div class="youtube container justify-content-center align-items-center">
    <h2>Best {{source}} to {{tp}} Downloader</h2>
    <p>Yttomp3 is the most user-friendly and cost-free {{source}} to {{tp}} converter accessible.
        It can convert videos from {{source}} to the {{tp}} format and download them in the highest possible quality.
        You can rapidly convert and download any of your favorite videos to an audio file by utilizing our online {{source}} to
        {{tp}} converter.
        This allows you to avoid the hassle of downloading any additional software. 
        It is compatible with all browsers, including Firefox, Chrome, Safari, and Opera, among others.
        Yttomp3 is the best online application available for converting videos from {{source}} to {{tp}} files that can be played on any platform, including Android, iOS (iPhone and iPad), MAC, and Windows.
        The conversion of {{source}} videos to {{tp}} audio/video with a bitrate of up to 320 kbps will be supported by Yttomp3.
        This program allows you to convert an infinite number of videos from {{source}} without requiring you to register, and it is 100% safe to use for all of your downloads.</p>
<hr>
</div>
<div class="youtube container justify-content-center align-items-center">
    <div class="col-md-7">
        <h3>How to Convert {{source}} to {{tp}} with YttoMp3?</h3>
      <ul class="itemstyle">
          <li>Open {{source}} and copy the video URL.</li>
          <li>Paste the url in the Search Box.</li>
          <li>Website will automatically start super fast downloading.</li>
          <li>After the download completes it will be saved at your device.</li>
          <li>Once downloaded you can play it whenever and wherever you want.</li>
      </ul>
    </div>
    <div class="col-md-7">
      <h3>Why use our {{source}} to {{tp}} Downloader?</h3>
      <ul class="itemstyle">
          <li>Unlimited MP3 Conversions, so you can convert all your videos.</li>
          <li>We use High-Speed encoders to convert {{source}} videos to music files.</li>
          <li>We offer Unlimited Downloads, convert as much as you can.</li>
          <li>No Signup/Registration required, our service is totally free.</li>
          <li>We support multiple qualities, e.g., 64kbps, 128kbps, and 160kbps.</li>
      </ul>
  </div>
</div>
<hr>

<Footer>
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p class="copyright">&copy; <script type="029c0e9bfd68634155b7af0e-text/javascript">document.write(new Date().getFullYear())</script> YttoMp3.herokuapp.com - Your favorite video converter.</p>
</div>
</div>
</div>
</Footer>
<style>
    .containsForm{
        border: 1px solid black;
        background:#f8f9fa!important;
        padding:2rem;
    }
    .itemstyle {
    list-style: decimal;
}


</style>
{% endblock %}